{% extends 'base.html' %}  

{% block content %}
      
    <!--Form/selects-->
    <div style="align-items:center;justify-content:center;display:flex">
      
      <form method = "get" class="row gy-2 gx-3 align-items-center">

          <div class="col-sm-3"> 

            {% if cliente_input  != "Todos" and cliente_input %}
              <select id="trimestre_input" name="trimestre_input" class="form-select" >
            
            {% else %}
              <select id="trimestre_input" name="trimestre_input" class="form-select" disabled>
            
            {% endif %}

             {% for Trimestre in Trimestres %}
                {% if Trimestre == trimestre_input %}
                  <option value="{{Trimestre}}" selected="selected">Q{{ Trimestre}}</option>
                {% else %}
                  <option value="{{Trimestre}}">Q{{ Trimestre}}</option>  
                {% endif %}
             {% endfor %}   
            </select>

           </div>  
                         
        <div class="col-sm-3">   
          <select id="year_input" name="year_input" class="form-select" >
           {% for Year in Years %}
              {% if Year == year %}
                <option value="{{Year}}"  selected="selected"> {{ Year}} </option>
              {% else %}
                <option value="{{Year}}"> {{ Year}} </option> 
              {% endif %}
           {% endfor %}   
           </select>
        </div>

        <div class="col-sm-3">
          <select id="cliente_input" name="cliente_input" class="form-select" onchange="changeSelect()">
            <option value="Todos" default>Todos</option>
           {% for cliente in lista_clientes %}
            {% if cliente == cliente_input%}
              <option value="{{cliente}}" selected="selected">{{cliente}}</option>
            {% else %}
              <option value="{{cliente}}" >{{cliente}}</option>
            {% endif %}
           {% endfor %}   
           </select>
        </div>

        <div class="col-sm-2">
          <div class="form-check">
            <input class="btn btn-primary" type=submit value="Filtrar">
          </div>
        </div>

      </form>
    </div>

    <br>

    <!--SHOW TABLE-->
    {% if not cliente_unico %}

      <h1 class="text-center align-self-center">Reporte {{area}} - {{year}}</h1>
      <br>
            <table class="table table-striped table-sm table-bordered">
              <thead class="table-dark">
                <tr>
                  {% for i in range(4) %}
                    {% if i == 0 %}
                      <th scope="col">Nombre</th>
                    {% endif %} 
                      <th scope="col">Q</th>
                      <th scope="col">VA</th>
                      <th scope="col">CSAT</th>
                      <th scope="col">NPS</th>
                      <th scope="col">CES</th>
                      <th scope="col">General</th>
                    {% endfor %}
                </tr>  
              </thead>

              <tbody>

                <tr>

                  <td style="font-weight: bold;">Total trimestre</td>

                  <th scope="row">Q1</td>
                  <td>{{list_avg_kpi[0]}}</td>
                  <td>{{list_avg_kpi[1]}}</td>
                  <td>{{list_avg_kpi[2]}}</td>
                  <td>{{list_avg_kpi[3]}}</td>
                  <td>{{list_avg_kpi[4]}}</td>

                  <th scope="row">Q2</th>
                  <td>{{list_avg_kpi[5]}}</td>
                  <td>{{list_avg_kpi[6]}}</td>
                  <td>{{list_avg_kpi[7]}}</td>
                  <td>{{list_avg_kpi[8]}}</td>
                  <td>{{list_avg_kpi[9]}}</td>
  
                  <th scope="row">Q3</th>
                  <td>{{list_avg_kpi[10]}}</td>
                  <td>{{list_avg_kpi[11]}}</td>
                  <td>{{list_avg_kpi[12]}}</td>
                  <td>{{list_avg_kpi[13]}}</td>
                  <td>{{list_avg_kpi[14]}}</td>

                  <th scope="row">Q4</th>
                  <td>{{list_avg_kpi[15]}}</td>
                  <td>{{list_avg_kpi[16]}}</td>
                  <td>{{list_avg_kpi[17]}}</td>
                  <td>{{list_avg_kpi[18]}}</td>
                  <td>{{list_avg_kpi[19]}}</td>
                </tr>

                {%for doc in kpi_q1 %}
                <tr>
                  <td>{{doc['Cliente']}}</td>
                  <th scope="row">Q{{doc['Trimestre']}}</td>
                  <td>{{doc['kpi_valor']}}</td>
                  <td>{{doc['kpi_satisfaccion']}}</td>
                  <td>{{doc['kpi_lealtad']}}</td>
                  <td>{{doc['kpi_esfuerzo']}}</td>
                  <td>{{doc['kpi_total']}}</td>

                  <th scope="row">Q{{kpi_q2[loop.index-1]['Trimestre']}}</th>
                  <td>{{kpi_q2[loop.index-1]['kpi_valor']}}</td>
                  <td>{{kpi_q2[loop.index-1]['kpi_satisfaccion']}}</td>
                  <td>{{kpi_q2[loop.index-1]['kpi_lealtad']}}</td>
                  <td>{{kpi_q2[loop.index-1]['kpi_esfuerzo']}}</td>
                  <td>{{kpi_q2[loop.index-1]['kpi_total']}}</td>
  
                  <th scope="row">Q{{kpi_q3[loop.index-1]['Trimestre']}}</th>
                  <td>{{kpi_q3[loop.index-1]['kpi_valor']}}</td>
                  <td>{{kpi_q3[loop.index-1]['kpi_satisfaccion']}}</td>
                  <td>{{kpi_q3[loop.index-1]['kpi_lealtad']}}</td>
                  <td>{{kpi_q3[loop.index-1]['kpi_esfuerzo']}}</td>
                  <td>{{kpi_q3[loop.index-1]['kpi_total']}}</td>

                  <th scope="row">Q{{kpi_q4[loop.index-1]['Trimestre']}}</th>
                  <td>{{kpi_q4[loop.index-1]['kpi_valor']}}</td>
                  <td>{{kpi_q4[loop.index-1]['kpi_satisfaccion']}}</td>
                  <td>{{kpi_q4[loop.index-1]['kpi_lealtad']}}</td>
                  <td>{{kpi_q4[loop.index-1]['kpi_esfuerzo']}}</td>
                  <td>{{kpi_q4[loop.index-1]['kpi_total']}}</td>
                </tr>
                
                {% endfor %}   
              </tbody>
            </table>

            {% endif %}
      
      <!--SHOW SPEEDMETER-->

      {% if  cliente_unico %}

      {% if  kpi_total == 0 %}
      
      <p class="text-center align-self-center fst-italic">No hay información registrada para este cliente en el trimestre buscado</p>
      
      {% else %}
      
      <br>
      
      <div class="container"> 
        <div class="row">
          <div class="col">
            <h1 class="text-center align-self-center">Reporte {{area}} - Q{{trimestre_input}}/{{year}}</h1>
          </div>
          <!--<div class="col col-lg-1">
            <img src="/static/img/innovation_logo.png" class="img-thumbnail" alt="...">
          </div> -->
        </div>
      </div>

      <br>
      <h3 style="text-align:center">Valor General: {{kpi_total}}</h3>
      
      <div class="container">
        <div class="row row-cols-4">
          <div class="col" id="bargraph1">
            <script>
                var graphs1 = {{graphJSON_esfuerzo | safe}};
                graphs1.config = {'displaylogo': false}
                Plotly.plot('bargraph1', graphs1);
            </script>
          </div>
          <div class="col" id="bargraph2">
            <script>
                var graphs2 = {{graphJSON_satisfaccion | safe}};
                graphs2.config = {'displaylogo': false}
                Plotly.plot('bargraph2',graphs2);
            </script>
          </div>
          <div class="col" id="bargraph3">
            <script>
                var graphs3 = {{graphJSON_lealtad | safe}};
                graphs3.config = {'displaylogo': false}
                Plotly.plot('bargraph3',graphs3);
            </script>
          </div>
          <div class="col" id="bargraph4">
            <script>
                var graphs4 = {{graphJSON_valor | safe}};
                graphs4.config = {'displaylogo': false}
                Plotly.plot('bargraph4',graphs4);
            </script>
          </div>
        </div>
      </div>
       
      {% endif %}
      {% endif %}

{% endblock %}
