{% extends 'base.html' %}  

{% block content %}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<br>

    <div id="div_form">

        <h1 class="text-center align-self-center">Configurar imágenes de clientes</h1><br>

        <div style="align-items:center;justify-content:center;display:flex;">

            <div style="max-width: 350px;">

                    <form method=post enctype=multipart/form-data  class="row gy-1 gx-3 align-items-center">
                        <select id="cliente_input" name="cliente_input" class="form-select" onchange="show_img()">
                            <option selected disabled>Selecciona un cliente...</option>
                            {% for cliente in Clientes_Data %}
                                <option value="{{cliente.to_dict()}}">{{cliente.to_dict()['Cliente']}}</option>
                            {% endfor %}   
                        </select><br>
                        <img id="preview" height="150px" width="100px" src="static\img\dont_photo.png"><br>
                        <input type=file name=file><br>
                        <input class="btn btn-primary" type=submit value="Subir Imagen" style="float:right"><br>
                    </form>

            </div>

        </div>

    </div>

    <div class="center" id="loading" style="display:none;">
        <h4 class="text-center align-self-center">Cargando la información..</h4>
        <div class="lds-roller" style="left: 50%;transform: translate(-50%);">
        <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        </div>
        <p class="text-center align-self-center">Por favor espere...</p>
    </div>

{% endblock %}