{% extends 'base.html' %}  

{% block content %}

<div style="align-items:center;justify-content:center;display:flex">
      
    <form method="post" class="row gy-2 gx-3 align-items-center">

        <div class="form-floating" style="width:200px"> 
            <select id="trimestre_input" name="trimestre_input" class="form-select" >
                {% if trimestre == "Todos" %}
                  <option value="Todos" selected>Todos</option>
                {% else %}
                  <option value="Todos">Todos</option>
                {% endif %}

                {% if trimestre == "Q1" %}
                  <option value="Q1" selected>Q1</option>
                {% else %}
                  <option value="Q1">Q1</option>
                {% endif %}

                {% if trimestre == "Q2" %}
                  <option value="Q2" selected>Q2</option>
                {% else %}
                  <option value="Q2">Q2</option>
                {% endif %}

                {% if trimestre == "Q3" %}
                  <option value="Q3" selected>Q3</option>
                {% else %}
                  <option value="Q3">Q3</option>
                {% endif %}

                {% if trimestre == "Q4" %}
                  <option value="Q4" selected>Q4</option>
                {% else %}
                  <option value="Q4">Q4</option>
                {% endif %}

           </select>
           <label for="floatingSelect">Trimestres</label>
         </div>  
                       
        <div class="form-floating" style="width:200px"> 
            <select id="year_input" name="year_input" class="form-select" >
              {% for i in list_years %}
              {% if year == i %}
                <option value={{i}} selected>{{i}}</option>
              {% else %}
                <option value={{i}}>{{i}}</option>
              {% endif %}
              {% endfor %}
           </select>
           <label for="floatingSelect">Años</label>
        </div> 
        
        <div class="form-floating" style="width:200px">
          <select id="client_input" name="client_input" class="form-select">
            <option value="Todos">Todos</option>
              {% for cliente in Clients_list %}
                {% if cliente == client%}
                  <option value="{{cliente}}" selected="selected">{{cliente}}</option>
                {% else %}
                  <option value="{{cliente}}" >{{cliente}}</option>
                {% endif %}
              {% endfor %}  
         </select>
         <label for="floatingSelect">Clientes</label>
      </div> 

        <div class="col">
            <div class="form-check">
              <input class="btn btn-primary" type=submit value="Filtrar">
            </div>
        </div>
    </form>
  </div>
      
      {% if trimestre != "Todos" %}
        <br><br><h2 class="text-center align-self-center">Reporte General - {{trimestre}} ({{year}})</h2><br>
      {% else %}
        <br><br><h2 class="text-center align-self-center">Reporte General - Hasta la fecha ({{year}})</h2><br>
      {% endif %}

      {% if hayDatos  %}

      <div class="container"> 
        <div class="row">
          <div class="col">
            {% if client_img %}
              <img style="display: block;margin-left: auto;margin-right: auto; max-width:300px; max-height:100px !important" src={{client_img}} alt="imagen de cliente" onerror="this.src='static\img\dont_photo.png'" width="auto" height="100">
            {% endif %}
            {% if avg_general_delta == -1 %}
              <br><p class="text-center align-self-center">Valor General: {{kpi_total}} (-)</p>
            {% elif avg_general_delta > 0 %}
              <br><p class="text-center align-self-center">Valor General: {{kpi_total}} (+{{avg_general_delta}})</p>
            {% else %}
              <br><p class="text-center align-self-center">Valor General: {{kpi_total}} ({{avg_general_delta}})</p>
            {% endif %}
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row row-cols-4">
          <div class="col" id="bargraph1">
            <script>
                var graphs1 = {{graphJSON_esfuerzo | safe}};
                graphs1.config = {'displaylogo': false}
                Plotly.plot('bargraph1', graphs1);
            </script>
          </div>
          <div class="col" id="bargraph2">
            <script>
                var graphs2 = {{graphJSON_satisfaccion | safe}};
                graphs2.config = {'displaylogo': false}
                Plotly.plot('bargraph2',graphs2);
            </script>
          </div>
          <div class="col" id="bargraph3">
            <script>
                var graphs3 = {{graphJSON_lealtad | safe}};
                graphs3.config = {'displaylogo': false}
                Plotly.plot('bargraph3',graphs3);
            </script>
          </div>
          <div class="col" id="bargraph4">
            <script>
                var graphs4 = {{graphJSON_valor | safe}};
                graphs4.config = {'displaylogo': false}
                Plotly.plot('bargraph4',graphs4);
            </script>
          </div>
        </div>
      </div>

      {% else %}

      <br><br><p class="text-center align-self-center fst-italic">No hay información disponible</p>

      {% endif %}
    
{% endblock %}