{% extends 'base.html' %}  

{% block content %}
      
    <div id="div_form" class="center">

      <h1>Cargar Archivo de Resultados</h1>

      <form method=post enctype=multipart/form-data>
        
          <input type=file name=file>
          
          <input class="btn btn-primary" type=submit value="Subir Archivo" style="float:right" onclick="hidden_func()"><br><br>
          
          <select id="area" name="area" class="form-select">
              <option value="CDC">CDC</option>
              <option value="Proceso Comercial Declinación">Proceso Comercial Declinación</option>
              <option value="Proceso Comercial Satisfacción">Proceso Comercial Satisfacción</option>
              <option value="Consultoria Corta">Consultoria Corta</option>
              <option value="Consultoria Larga">Consultoria Larga</option>
          </select>
          
      </form>

    </div>

    <div class="center" id="loading" style="display:none;">
        <h4 class="text-center align-self-center">Cargando la información..</h4>
        <div class="loader"></div>
        <p class="text-center align-self-center">Por favor espere...</p>
    </div>

    <script type="text/javascript">
      function hidden_func() {
        document.getElementById("loading").style.display = 'block';
        document.getElementById("div_form").style.display = 'none';
      }
    </script>
       
{% endblock %}