<!doctype html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='test.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body >
        
  <div class="center_2">
    
    <br>

    <div style="align-items:center;justify-content:center;display:flex">
      
      <form method = "get" class="row gy-2 gx-3 align-items-center">
        <div class="col-sm-2">

          {% if cliente_input  != "Todos" and cliente_input %}
            <select id="kpi" name="kpi" class="form-select" disabled>
          {% else %}
            <select id="kpi" name="kpi" class="form-select">
          {% endif %}

          {% for kpi in tipos_kpi_ori %}
            {% if kpi == kpi_name %}
              <option value="{{kpi}}" selected="selected">  {{tipos_kpi_nice[loop.index-1]}} </option>
            {% else %}
              <option value="{{kpi}}"> {{tipos_kpi_nice[loop.index-1]}}</option>  
            {% endif %}
          {% endfor %}   
              </select>
        </div>  

        <div class="col-sm-2">   
             <select id="trimestre_input" name="trimestre_input" class="form-select" >
              {% for Trimestre in Trimestres %}
              {% if Trimestre == trimestre_input %}
                <option value="{{Trimestre}}" selected="selected">Q{{ Trimestre}}</option>
              {% else %}
                <option value="{{Trimestre}}">Q{{ Trimestre}}</option>  
              {% endif %}
              {% endfor %}   
              </select>
        </div>  

        <div class="col-sm-2">   
          <select id="year_input" name="year_input" class="form-select" >
           {% for Year in Years %}
            <option value="{{Year}}" >{{ Year}}</option>
           {% endfor %}   
           </select>
        </div>

        <div class="col-sm-2">
          <select id="cliente_input" name="cliente_input" class="form-select" onchange="changeSelect()">
            <option value="Todos" default>Todos</option>
           {% for cliente in lista_clientes %}
            {% if cliente == cliente_input%}
              <option value="{{cliente}}" selected="selected">{{cliente}}</option>
            {% else %}
              <option value="{{cliente}}" >{{cliente}}</option>
            {% endif %}
           {% endfor %}   
           </select>
        </div>

        <div class="col-sm-2">
          <div class="form-check">
            <input class="btn btn-dark" type=submit value="Filtrar">
          </div>
        </div>

      </form>

      {% if not cliente_unico %}
      <h3>Promedio : {{Promedio_total_q}}</h3>
      {% endif %}
    
    </div>
    <br>
          {% if cliente_unico %}
            <!--<canvas id="myChart2" width="100" height="50"></canvas>-->
          {% else %}
            <canvas id="myChart" width="100" height="50"></canvas>  
            
            <table table table-striped table-dark>
              <thead>
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">Trimestre</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">KPI Total</th>
                  <th scope="col">KPI Valor</th>
                  <th scope="col">KPI Satisfacción</th>
                  <th scope="col">KPI Lealtad</th>
                  <th scope="col">KPI Esfuerzo</th>
                </tr>  
              </thead>
              <tbody>
                {%for doc in kpi_clients %}
                <tr>
                  <th scope="row">{{loop.index}}</th>
                  <td>Q{{doc.to_dict()['Trimestre']}}</td>
                  <td>{{doc.to_dict()['Cliente']}}</td>
                  <td>{{doc.to_dict()['kpi_total']}}</td>
                  <td>{{doc.to_dict()['kpi_valor']}}</td>
                  <td>{{doc.to_dict()['kpi_satisfaccion']}}</td>
                  <td>{{doc.to_dict()['kpi_lealtad']}}</td>
                  <td>{{doc.to_dict()['kpi_esfuerzo']}}</td>
                </tr>
                {% endfor %}   
              </tbody>
            </table>

          {% endif %}
             
    </div>

      {% if  cliente_unico %}

      <h3 style="text-align:center">KPI Total : {{y[0]}}</h3>
      
      <div class="container">
        <div class="row row-cols-2">
          <!-- <div class="col" id="bargraph">
            <script>
                var graphs = {{graphJSON_total | safe}};
                Plotly.plot('bargraph',graphs,{});
            </script> 
          </div> -->
          <div class="col" id="bargraph1">
            <script>
                var graphs1 = {{graphJSON_esfuerzo | safe}};
                Plotly.plot('bargraph1',graphs1,{});
            </script>
          </div>
          <div class="col" id="bargraph2">
            <script>
                var graphs2 = {{graphJSON_satisfaccion | safe}};
                Plotly.plot('bargraph2',graphs2,{});
            </script>
          </div>
        </div>
        <div class="row row-cols-2">
          <div class="col" id="bargraph3">
            <script>
                var graphs3 = {{graphJSON_lealtad | safe}};
                Plotly.plot('bargraph3',graphs3,{});
            </script>
          </div>
          <div class="col" id="bargraph4">
            <script>
                var graphs4 = {{graphJSON_valor | safe}};
                Plotly.plot('bargraph4',graphs4,{});
            </script>
          </div>
        </div>
      </div>
       
      {% endif %}

      <script>
      
        const data = {
          labels: {{ x | safe}}, //Etiquetas datos
          datasets: [{
            label:'{{ kpi_name | safe}} Q{{ trimestre_input | safe}} {{ year_input | safe}}' , //Title
            backgroundColor: "red",
            data: {{ y | safe}}, //KPI's
          }]
        };
          const config = {
            type: 'line',
            data: data,
            options: {
              scales:{
                y:{
                  beginAtZero: true
                }
              }
            }
          };
  
          const data2 = {
            labels: {{ x | safe}}, //Etiquetas datos
            datasets: [{
              label:'{{ cliente_input | safe}} Q{{ trimestre_input | safe}} {{ year_input | safe}}', //Title
              backgroundColor: "rgba(255,155,0, 0.6)",
              borderWidth: 1,
              borderColor : "rgb(255,155,0)",
              data: {{ y | safe}}, //KPI's
            }]
          };
  
          const config2 = {
            type: 'bar',
            data: data2,
            options: {
              scales:{
                y:{
                  beginAtZero: true,
                  max:10
                }
              }
            }
          };
  
          const myChart  = new Chart(document.getElementById('myChart'),config);
          const myChart2 = new Chart(document.getElementById('myChart2'),config2);
  
        </script>

</body>
