<!doctype html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{url_for('static', filename='test.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body >
    
    <div >
            
            <div >
                <form method = "get">            
                    <select id="kpi" name="kpi" class="form-select" >
                        <option value="kpi_total"  > KPI Total</option>
                        <option value="kpi_esfuerzo"> KPI Esfuerzo</option>
                        <option value="kpi_lealtad"> KPI Lealtad</option>
                        <option value="kpi_satisfaccion">KPI Satisfaccion</option>
                        <option value="kpi_valor">KPI Valor</option>
                    </select>
                    <input class="btn btn-dark" type=submit value="Enter" style="float:right" >

                </form>
            </div>
            <canvas id="myChart" width="100" height="50"></canvas>                
    </div>

    <script>
      
        const data = {
          labels: {{ x | safe}}, //Etiquetas datos
          datasets: [{
            label:'{{ kpi_name | safe}}' , //Title
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{ y | safe}}, //KPI's
          }]
        };
      
        const config = {
          type: 'bar',
          data: data,
          options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
          );

      </script>
       
</body>
