<!doctype html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{url_for('static', filename='test.js')}}"></script>
    
</head>
<body >
    <div class="center">
    

    <a href="{{ url_for('chart') }}" class='btn btn-primary btn-lg' style="align-items:center;justify-content:center;display:flex">VER REPORTES</a>
    <br>

    

    <img src="static\img\logo-CX ABSIDE-DEF.png"  width="600" height="300">

    
    <h1>Cargar Archivo de Resultados</h1>
    <div >
        <form method=post enctype=multipart/form-data>
          
            <input type=file name=file required>
            
            <input class="btn btn-dark" type=submit value="Subir Archivo" style="float:right" onsubmit="carga()">
            <br>
            <br>
            <select id="area" name="area" class="form-select">
                
                <option value="CDC" >CDC</option>
                <option value="Proceso Comercial Declinacion" >Proceso Comercial Declinacion</option>
                <option value="Proceso Comercial Satsifaccion" >Proceso Comercial Satsifaccion</option>
                <option value="Consultoria Corta" >Consultoria Corta</option>
                <option value="Consultoria Larga" >Consultoria Larga</option>
            </select>

            
          </form>

          <!-- Modal -->
<!--
          <img src="static\img\spinner.png" class="rotate" width="100" height="100" />
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span >&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  -->

    </div>
        
    </div>
    
    
</body>
